# 🚀 Online Shopping

> *"Unconventional methods for conventional problems. The glitch in the system."*

## 🛠 Texnologiyalar
- *Dil:* Sənin seçdiyin dil
- *Sistem:* 0 Büdcəli Dövriyyə Alqoritmi
- *Status:* İnkişaf mərhələsində 🚧

## 📌 Məqsəd
Bu layihə rəqəmsal mühitdə minnətsiz və müstəqil bir sistem qurmaq üçün nəzərdə tutulub.

---
